Amazon/Key Words/*
Amazon/Key Words/*
Amazon/OriginalData/*
Amazon/Tool/ForToolKit.html

AliExpress/1688/*
AliExpress/1688/OriginalData/*
AliExpress/ResultData/ProductImage/*
AliExpress/aliexpresslist/OriginalData/*
AliExpress/aliexpresslist/ResultsData/*

Aliexpresslist/OriginalData/*
Aliexpresslist/ResultsData/*

.DS_Store
1688Data/1688/*
1688Data/ResultData/*

.idea/*

titleList/*
.history/*